{{block "title"}}
    Wow, such title!
{{endblock}}

{{block "content"}}
    <h1>Hi!</h1>
    <h2>{% $x %}</h2>
    <h2>{% $y %}</h2>

    <ul>
    {{foreach $name in $names}}
        <li>{% $name %}</li>
    {{endforeach}}
    </ul>

    <ol>
    {{foreach $num in $numbers}}
        <li>{% $num %}</li>
    {{endforeach}}
    </ol>

    <table>
        <tbody>
            {{foreach $row in $matrix}}
            <tr>
                {{foreach $col in $row}}
                <td>{% $col %}</td>
                {{endforeach}}
            </tr>
            {{endforeach}}
        </tbody>
    </table>

    <p>Name: {% $test.templates.entries[0] %} </p>
    <p>Age:  {% $test.arena %} </p>

{{endblock}}

{{extends "base"}}


