package {
    name "onyxlang-io" 
    author "Brendan Hansen" 
    url "https://onyxlang.io" 
    description "The onyxlang.io website" 
    version "0.0.1" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

dependencies {
    http-server "0.3.0" git="https://github.com/onyx-lang/pkg-http-server" 
    otmp "0.0.34" git="https://github.com/onyx-lang/pkg-otmp" 
}

build {
    default {
        target "out.wasm" 
        runtime "onyx" 
        source "build.onyx" 
    }
    wasmer {
        target "site.wasm" 
        runtime "wasi" 
        source "build.onyx" 
        define "WASIX" "CGI_MODE" 
    }
}

