<!DOCTYPE html>
<html class="ui-theme" lang="en">
    <head>
        <title>{% block "title" %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The Onyx programming language, by Brendan Hansen.">

        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/new_style.css">

        <!-- Including this on every page because why not -->
        <link rel="stylesheet" href="/static/vendor/highlight.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap" rel="stylesheet">
        <script src="/static/vendor/highlight.min.js"></script>
        <script defer>
            hljs.cssSelector = "pre code.language-onyx"
            hljs.highlightAll();
        </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-MK8X8D7WXY"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-MK8X8D7WXY');
        </script>

        {% block "styles" %}
    </head>

    <body>
        {% block "content" %}
    </body>
</html>
