{{ block "title" }}
Onyx Documentation
{{ endblock }}

{{ let navbar_page = "docs" }}

{{ block "page_content" }}

<div class="container header">
    <h1>Onyx Docs</h1>
</div>

<div class="container">
    <h2>Getting Started</h2>
    <p>
    Install Onyx locally on your system or use it in your browser.
    </p>
    <p>
    <a class="link-button" href="/docs/install">Install</a>
    <a class="link-button" href="/docs/setup">Environment Setup</a>
    <a class="link-button" href="/playground/">Playground</a>
    </p>
</div>

<div class="container">
    <h2>Learn</h2>
    <p>
    Learn the core ideas behind programming in Onyx.
    </p>
    <p>
    <a class="link-button" href="https://docs.onyxlang.io/book">Language Reference</a>
    </p>
</div>

<div class="container">
    <h2>Package Reference</h2>
    <p>
        Reference material for all packages shipped with the Onyx toolchain.
    </p>
    <p>
        <a class="link-button" href="https://docs.onyxlang.io/packages/core">Core packages</a>
    </p>
</div>

{{ endblock }}

{{ extends "pages/normal_page" }}

