{{ block "title" }}
Onyx Examples
{{ endblock }}

{{ let navbar_page = "examples" }}

{{ block "page_content" }}

<div class="container header">
    <h1>Onyx Examples</h1>
    <p><a href="/examples">Back to example list</a></p>
</div>

<div class="container example">
    {% ex.html %}
</div>

<div class="container">
    <div class="title">
        <h2>Want to learn more?</h2>
    </div>
    <p>
        <a class="link-button" href="/docs">Visit the docs!</a>
    </p>
    <p>
        You can learn more details about Onyx by visiting the docs!
        There is more examples, a reference manual for the language, and documentation for the standard library.
    </p>
</div>

{{ endblock }}

{{ extends "pages/normal_page" }}

