{{block "title"}}The Onyx Programming Language{{endblock}}

{{block "page_content"}}

<div class="container center" style="margin: 0 auto">
<h1>The <b>Onyx</b> Programming Language</h1>
</div>

<div class="container light center" style="font-size: 24pt">
<p><b>Onyx</b> is a data-oriented, safe, and modern programming language for application development</p>
</div>

<div class="container">
<div class="split right-40">
    <div>
        <h2>Overview</h2>
        <br />

        <ul style="font-size: larger;">
            <li>Runs everywhere using <a href="https://webassembly.org">WebAssembly</a></li>
            <li>Lightning fast compilation</li>
            <li>Self-hosted, debuggable runtime using <a href="/news/ovmwasm">OVM-Wasm</a></li>
            <li>Secure and fast runtime using <a href="https://wasmer.io">Wasmer</a></li>
        </ul>
    </div>

    <pre class="hljs"><code class="language-onyx">use core {println}

main :: () {
    f := factorial(10);
    println(f);
}

factorial :: (n: i32) -> i32 {
    k := 1;
    for 1 .. n+1 do k *= it;
    return k;
}
</code></pre>

</div>
</div>

<div class="container light">
    <h2 style="margin-bottom: 8px">Features</h2>

    <div class="panel-container">
        <div>
            <h3>Portable</h3>
            <p>By targetting WASM, Onyx can be used in the browser, or natively with a <a href="/news/ovmwasm">custom runtime</a>.</p>
        </div>
        <div>
            <h3>Data-Oriented</h3>
            <p>Ditch complicated classes and inheritance. Just focus on modeling the data for your application.</p>
        </div>
        <div>
            <h3>Extensible</h3>
            <p>With a C binding generation library, a useful C library is just one-step away.</p>
        </div>
        <div>
            <h3>Fun and Safe</h3>
            <p>Onyx enables programmer expressiveness, while making it easy to write bug-free code.</p>
        </div>
    </div>
</div>

{{endblock}}

{{extends "pages/normal_page"}}
