{{ block "title" }}
    Onyx Programming Language
{{ endblock }}

{{ let navbar_page = "home" }}

{{ block "page_content" }}

<div class="container header">
    <div style="height: 20rem; display: flex; flex-direction: column; place-content: center;">
        <div style="text-align: center;">
            <h1>The <b>Onyx</b> Programming Language</h1>
        </div>
        <div style="font-size: 20pt; text-align: center; margin-top: 8px">
            <p>A data-oriented, safe, and modern programming language</p>
        </div>
    </div>

    <!--<div style="text-align: center;">
        <div style="margin-bottom: 26px">
            Install in one command, or build <a href="/docs/install">from source</a>.
        </div>
        <div>
            <span style="font-size: 16pt; font-family: monospace; padding: 20px; color: var(--header-text); background: var(--primary); border-radius: 8px; box-shadow: 0px 1px 12px 2px rgba(200, 200, 230, 0.4)">
                sh&nbsp;&lt;(curl&nbsp;https://get.onyxlang.io&nbsp;-sSfL)
            </span>
        </div>
        <div style="margin-top: 40px">
            Alternatively, try Onyx online and read the docs!
        </div>
        <div style="margin-top: 26px; display: flex; flex-direction: row; gap: 40px;">
            <a class="cta-button" href="/playground">TRY ONLINE</a>
            <a class="cta-button" href="/docs">READ THE DOCS</a>
        </div>
    </div>-->

    <div class="container card" style="width: 800px">
        <div style="font-size: 14pt; font-family: fira; padding: 20px;">
            <div><span style="color: #444;">$</span> <span style="font-style: italic; color: #99a;"># Install Onyx in one command</span></div>
            <div id="install-command">
                <span style="color: #444;">$</span> <span style="color: var(--accent)">sh</span>&nbsp;&lt;(curl&nbsp;https://get.onyxlang.io&nbsp;-sSfL)
                <span class="copy-button">Copy</span>
            </div>
            <div><span style="color: #444;">$</span> <span style="font-style: italic; color: #99a;"># Read the docs</span></div>
            <div><span style="color: #444;">$</span> <span style="color: var(--accent)">curl</span> <a style="text-decoration: underline" href="/docs">onyxlang.io/docs</a></div>
            <div><span style="color: #444;">$</span> <span style="font-style: italic; color: #99a;"># Try Onyx in your browser</span></div>
            <div><span style="color: #444;">$</span> <span style="color: var(--accent)">curl</span> <a style="text-decoration: underline" href="/playground">onyxlang.io/playground</a></div>
        </div>
    </div>
</div>




<div class="container">
    <div class="title">
        <h2>Language Overview</h2>
    </div>

    <div>
        <h2>Syntax</h2>
        <br />
        <p>Onyx uses a modernized C-like syntax, similar to Jai or Odin. Start learning the syntax from official <a href="https://docs.onyxlang.io/book">Language Reference Book</a>.</p>
    </div>

    <pre class="hljs"><code class="language-onyx">use core { printf, iter }

main :: () {
    for i: 1 .. 10 {
        fact := factorial(i);
        printf("{}! = {}\n", i, fact);
    }
}

factorial :: (n: i32) -> i32 {
    return iter.as_iter(1 .. n)
        |> iter.fold(1, (x, y) => x * y);
}
</code></pre>

</div>

<div class="container">
    <div>
        <h2>Type Safety</h2>
        <br />
        <p>Onyx is <b>strictly</b> type-checked. However, the type-inference systems in Onyx usually allow you to omit types.</p>
    </div>

    <pre class="hljs"><code class="language-onyx">use core { printf }

main :: () {
    // Inferred variable type
    x := 10;

    // Function with entirely inferred types.
    change_value :: x => x + 10;

    // Onyx figures out the types of `change_value` when you call it.
    printf("The value is {}.\n", change_value(x));
}
</code></pre>

</div>

<div class="container">
    <div>
        <h2>Fast Compilation</h2>
        <br />
        <p>Onyx's compiler is written entirely in C and features incredibly fast compilation. The web-server for this website was compiled in <b>49 milliseconds</b>.</p>
    </div>

    <pre class="hljs"><code>$ onyx build -V ./src/app.onyx
File search path:
        /usr/share/onyx
        .

Type table size: 131244 bytes.
Foreign blocks size: 8 bytes.
Tagged procedure size: 504 bytes.
Tagged global size: 8 bytes.

Statistics:
    Time taken: 49.000000 ms
    Processed 20607 lines (420551.031250 lines/second).
    Processed 107338 tokens (2190571.500000 tokens/second)
</code></pre>
</div>

<div class="container">
    <div>
        <h2>WebAssembly</h2>
        <br />
        <p>Onyx compiles solely to <a href="https://webassembly.org">WebAssembly</a>. You can use a builtin WebAssembly runtime using <code>onyx run</code>, or compile to WASM and run using a WebAssembly runner, like Wasmer or Wasmtime.</p>
    </div>

    <pre class="hljs"><code># Compile and run directly.
$ onyx run hello.onyx
Hello, World!

# This time target 'WASI'.
$ onyx build -r wasi -o hello.wasm hello.onyx

# Run using Wasmer.
$ wasmer run hello.wasm
Hello, World!
</code></pre>
</div>

<div class="container">
    <div>
        <h2>C-FFI</h2>
        <br />
        <p>Onyx features built-in support for linking to native C-libraries.</p>
    </div>

    <pre class="hljs"><code class="language-onyx">use core {*}

// Using #dyncall dynamically loads the library at runtime.
#foreign #dyncall "libc.so" {
    write :: (fd: i32, data: [&] u8, count: i32) -> i32 ---
}

main :: () {
    msg: [] u8 = "Hello, libc!";

    write(1, msg.data, msg.length);
}
    </code></pre>
</div>

<div class="container">
    <div class="title">
        <h2 style="margin-bottom: 8px">Recent News</h2>
    </div>
</div>
{% partial "partials/news_listing" %}

</div>
</div>

<script>
document.querySelector("#install-command .copy-button").addEventListener("click", e => {
    navigator.clipboard.writeText("sh <(curl https://get.onyxlang.io -sSfL)").then(_ => {
        e.target.innerHTML = "Copied!";
        setTimeout(_ => { e.target.innerHTML="Copy" }, 5000);
    });
})
</script>

{{endblock}}

{{extends "pages/normal_page"}}
