{{block "title"}}Onyx News - {% $article.name %}{{endblock}}

{{ let navbar_page = "news" }}

{{block "content"}}

<main>
    {% partial "partials/navbar" %}

    <div class="page-content-wrapper">
        <div class="container header">
            <h1>
                {% $article.name %}
            </h1>
            <p>
                {% $article.description %}
            </p>
        </div>

        <div class="container">
            {% $article.contents %}
        </div>
    </div>

    {% partial "partials/footer" %}
</main>

{{endblock}}

{{extends "pages/base"}}
