{{ let homepage = false }}
{{ if navbar_logo_hidden == true }}
    {{ let homepage = true }}
{{ endif }}

<div class="navbar-container">
    <navbar
        {{ if homepage == true }} style="justify-content: center" {{ endif }}
        >
        {{ if homepage == false }}
        <a href="/" aria-label="Go to the homepage">
            <svg viewBox="0 0 64 16" version="1.1" id="desktop_logo" alt="Onyx Logo">
                {% partial "partials/logo_svg" %}
            </svg>
            <svg viewBox="0 0 16 16" version="1.1" id="mobile_logo" alt="Onyx Logo">
                {% partial "partials/logo_svg" %}
            </svg>
        </a>
        {{ endif }}

        <input type="checkbox" id="mobile-hamburger" />
        <span class='hamburger'>
            <span class='hamburger-piece'></span>
            <span class='hamburger-piece'></span>
            <span class='hamburger-piece'></span>
        </span>

        <div>
            <a target="_blank" href="https://try.onyxlang.io"><span>Try Onyx</span></a>
            <a href="/examples"><span {{ if navbar_page == "examples" }} class="active" {{ endif }}>Examples</span></a>
            <a href="/docs"><span {{ if navbar_page == "docs" }} class="active" {{ endif }}>Docs</span></a>
            <a href="/news"><span {{ if navbar_page == "news" }} class="active" {{ endif }}>News</span></a>
            <a href="/community"><span {{ if navbar_page == "community" }} class="active" {{ endif }}>Community</span></a>
            <a href="https://github.com/onyx-lang/onyx" target="_blank"><span>GitHub</span></a>
        </div>
    </navbar>
</div>
