
<div class="navbar-container">
    <navbar>
        <a href="/">
            <svg viewBox="0 0 64 16" version="1.1" id="desktop_logo">
                {% partial "partials/logo_svg" %}
            </svg>
            <svg viewBox="0 0 16 16" version="1.1" id="mobile_logo">
                {% partial "partials/logo_svg" %}
            </svg>
        </a>

        <input type="checkbox" id="mobile-hamburger" />
        <span class='hamburger'>
            <span class='hamburger-piece'></span>
            <span class='hamburger-piece'></span>
            <span class='hamburger-piece'></span>
        </span>

        <div>
            <a href="/"><span>Home</span></a>
            <a target="_blank" href="/playground/"><span>Try Online</span></a>
            <a href="/docs"><span>Docs</span></a>
            <a href="/news"><span>News</span></a>
            <a href="https://github.com/onyx-lang/onyx" target="_blank"><span>GitHub</span></a>
        </div>
    </navbar>
</div>
