
{{ foreach $article in $articles }}
<div class="container">
    <div style="background: var(--light-background-color); padding: 32px; border-radius: 6px; box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.2)">
        <a href="/news/{% $article.path %}" style="color: var(--foreground-color)">
            <h2 style="float: left; margin: 0;">{% $article.name %}</h2>
            <p style="float: right"><em>{% $article.date %}</em></p>
            <br>
            <p style="clear:both;">
            {% $article.description %}
            </p>
        </a>
    </div>
</div>
{{ endforeach }}
