{{ foreach article in articles }}
<div class="container">
    <div style="padding-top: 32px; padding-bottom: 32px;">
        <h2 style="float: left; margin: 0; margin-bottom: 8px;">
            <a href="/news/{% article.path %}">
                <span>{% $article.name %}</span>
            </a>
        </h2>
        <p style="float: right; line-height: 1.5rem;"><em>{% article.date %}</em></p>
        <br>
        <p style="clear:both;">
        {% article.description %}
        </p>
    </div>
</div>
{{ endforeach }}
